<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=no"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HIGUCHI Work History" />
    <!-- <meta property='og:url' content='ToDo'> -->
    <meta property="og:description" content="HIGUCHI Work History" />
    <meta property="og:image" content="<%= image_path 'ogp.png' %>" />
    <meta name="description" content="HIGUCHI Work History" />
    <title>HIGUCHI Work History</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:700"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>" />
    <!-- <link rel=”canonical” href="ToDo" /> -->
  </head>

  <body>
    <div id="wrapper">
      <nav id="gnav" class="fixed">
        <ul>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#works">WORKS</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#certifications">CERTIFICATIONS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </nav>
      <header id="header">
        <div class="inner">
          <h1 class="logo">
            <div class="logo-title">HIGUCHI Takashi</div>
            <div class="logo-desc">HISTORY</div>
          </h1>
        </div>
      </header>
      <main id="contents">
        <section class="section" id="about">
          <div class="inner">
            <div class="section-title-area">
              <h2 class="section-title">ABOUT</h2>
              <div class="section-intro">
                樋口 貴志
                <br />
                1995年2月14日生　満30歳　
              </div>
            </div>
            <div class="section-body">
              <div class="section-image">
                <img class="lazyload fadein" data-src="<%= image_path 'profile.jpg' %>" alt="">
              </div>
              <div class="section-desc">
                <div class="section-text">
                  約9年間、エンジニアとしてIT業界に従事。
                  <br />
                  <br />◼︎主な担当業務：
                  <br />バックエンド開発、サーバ/クラウド構築・運用（夜間休日のシステム障害オンコール含む）
                  <br />数十億規模の中核システムのマネージャー経験もあります。
                  <br />
                  <br />◼︎理想のチーム
                  <br />プロダクトに愛があるチーム、心理的安定性を大事にしているチーム
                  <br />
                  <br />本ページでは、趣味・副業で制作した作品を紹介しています。
                </div>
              </div>
            </div>
            <div class="section-sub-title-area">
              <h3 class="section-sub-title">応援メッセージ</h3>
              <p id="save_term_msg">※約7日間保持されます。</p>
            </div>
            <div id="support-msg-area">
              <ul class="slider"></ul>
            </div>
            <div id="support-msg-loader-container">
              <div class="loader"></div>
            </div>
            <form id="support-msg-form">
              <textarea
                id="messageContent"
                placeholder="メッセージを入力"
                name="messageContent"
              ></textarea>
              <div id="submited-msg">ありがとうございました！</div>
              <button type="submit">送信</button>
            </form>
          </div>
        </section>
        <section class="section" id="works">
          <div class="inner">
            <div class="section-title-area">
              <h2 class="section-title">WORKS</h2>
              <div class="section-sub-title-area">
                <h3 class="section-sub-title">HOBBY WORKS</h3>
              </div>
              <div class="section-intro">
                <div class="section-text">趣味で制作した作品です。</div>
              </div>
            </div>
            <div class="section-body card-wrapper my-gallery">
              <div class="card">
                <a
                  href="<%= image_path 'works/bookman.gif' %>"
                  data-pswp-width="600" data-pswp-height="600" target="_blank"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/bookman.gif' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：PCゲーム</p>
                    <p>◼︎作品名：Bookman</p>
                    <p>◼︎説明：</p>
                    <p>ゲーム用ライブラリを使用せず、C++でほぼスクラッチで開発した3Dアクションゲームになります。3Dモデリングは友人にお手伝いいただきつつ、コーディングはすべて1人で作成しました。</p>
                    <p>◼︎思い入れ</p>
                    <p>初めてオブジェクト指向設計で取り組んだ作品で、ゲームロジック部分の作り込みは楽しすぎてトイレに行くのさえ億劫になったほどです。</p>
                    <p>◼︎使用技術：</p>
                    <p>C/C++/DXライブラリ/blender/Metasequoia/MMD</p>
                  </div>
                  <div class="card-caption-url">
                    <a
                      class="url-link"
                      href="https://github.com/HTDevelop/BookMan"
                      target="_blank"
                      >GitHub Link</a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/smatcha.gif' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/smatcha.gif' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：iOS/Androidゲーム</p>
                    <p>◼︎作品名：すまっちゃ</p>
                    <p>◼︎説明：</p>
                    <p>Unityで作成したスマホ用アプリゲームです。3Dモデリングからコーディングまで1人で作成しました。UnityAdで広告も入れており、5000円/月の収入が半年ほど発生しました。</p>
                    <p>◼︎思い入れ</p>
                    <p>コロナ禍でゲームセンターに行けず、リアル志向のUFOキャッチャーゲームがなかったのでそれなら自分でつくっちゃえということで作りました。そこそこ人気が出て嬉しかったです。</p>
                    <p>◼︎使用技術：</p>
                    <p>C#/Unity/blender</p>
                  </div>
                  <div class="card-caption-url">
                    <a
                      class="url-link"
                      href="https://applion.jp/iphone/app/1548683989/"
                      target="_blank"
                      >App Link</a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/snipe.png' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/snipe.png' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：iOS/Androidゲーム</p>
                    <p>◼︎作品名：FluffSnipe</p>
                    <p>◼︎説明：</p>
                    <p>Unityで作成したスマホ用アプリゲームです。画像デザインからコーディングまで1人で作成しました。</p>
                    <p>◼︎思い入れ</p>
                    <p>Unityゲームシリーズ２作目です。できるだけシンプルに、かつクセになる。をイメージしました。スコアをDynamoDBに登録するようにしてみたり、AWSをプライペートでも使い始めた作品です。</p>
                    <p>◼︎使用技術：</p>
                    <p>C#/Unity/blender</p>
                  </div>
                  <div class="card-caption-url">
                    <a
                      class="url-link"
                      href="https://applion.jp/FluffSnipe/iphone-1598528291/"
                      target="_blank"
                      >App Link</a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/python.gif' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/python.gif' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：電子工作</p>
                    <p>◼︎作品名：交通ICカードで部屋の鍵が開閉できるシステム</p>
                    <p>◼︎説明：</p>
                    <p>ラズパイとICカードセンサーとサーボモータを組み合わせてカードをかざすと自動で鍵が開くシステムを作りました。</p>
                    <p>◼︎思い入れ</p>
                    <p>出先で鍵を失くすことが多かったので作ってみました。1年くらいでサーボモータが焼き切れてしまい泣く泣く退役となりました。データシートからデューティー比を算出したり、学生時代を思い出しました。</p>
                    <p>◼︎使用技術：</p>
                    <p>Python/Rasberry Pi</p>
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/hiyoko.gif' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/hiyoko.gif' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：PCゲーム</p>
                    <p>◼︎作品名：ひよこシューティング</p>
                    <p>◼︎説明：</p>
                    <p>Unityで作成した2Dシューティングゲームです。</p>
                    <p>◼︎思い入れ</p>
                    <p>ドット絵を描いてみたくて作りました。ドット絵に凝りすぎて最後まで作り込みできなかったのでいつか再チャレンジしたいです。</p>
                    <p>◼︎使用技術：</p>
                    <p>C#/Unity/Windowペイント</p>
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/ranguru.gif' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/ranguru.gif' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：Webサイト</p>
                    <p>◼︎作品名：らんぐる</p>
                    <p>◼︎説明：</p>
                    <p>半径5km圏内のお店がランダムで表示されるWebサイトです。</p>
                    <p>◼︎思い入れ</p>
                    <p>MVCの勉強のために作りました。これに従って昼ごはんを決めていたら3日連続ラーメン屋になりました。</p>
                    <p>◼︎使用技術：</p>
                    <p>PHP(Laravel)/javascript(jQuery)/MySQL</p>
                  </div>
                  <div class="card-caption-url">
                    <a
                      class="url-link"
                      href="https://github.com/HTDevelop/LaravelTutorial"
                      target="_blank"
                      >GitHub Link</a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/qua.gif' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/qua.gif' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：PCゲーム</p>
                    <p>◼︎作品名：3Dオンラインボードゲーム</p>
                    <p>◼︎説明：</p>
                    <p>「クアルト」というゲームをオンラインで遊べるようにしました。</p>
                    <p>◼︎思い入れ</p>
                    <p>著作権に触れるためインターネット公開はしておりません。仲間内で遊びました。自宅のLinuxサーバをゲームサーバにしてみたく、作ってみました。パケットの取り扱いの勉強になりました。</p>
                    <p>◼︎使用技術：</p>
                    <p>C#/Unity/Linux</p>
                  </div>
                  <div class="card-caption-url">
                    <a
                      class="url-link"
                      href="https://github.com/HTDevelop/Quarto"
                      target="_blank"
                      >GitHub Link</a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <a
                  href="<%= image_path 'works/camera.jpg' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/camera.jpg' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：電子工作</p>
                    <p>◼︎作品名：クラウド型自作ペットカメラ</p>
                    <p>◼︎説明：</p>
                    <p>出先から自宅の様子を見ることができます。AWS KinesisVideoStreamを使用しています。</p>
                    <p>◼︎思い入れ</p>
                    <p>犬をお迎えした際に作ってみました。音も感知して吠えたらLINEに通知が来るようになっています。でもお利口さんなので滅多に鳴りません。</p>
                    <p>◼︎使用技術：</p>
                    <p>Python/Rasberry Pi/AWS</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <a
                  href="<%= image_path 'works/okoge.jpg' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/okoge.jpg' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：絵（番外編）</p>
                    <p>◼︎作品名：うちの犬</p>
                    <p>◼︎説明：</p>
                    <p>色鉛筆でアナログで描きました。制作時間１週間ほどです。ITに限らず、昔から1つのことに集中して取り組むのが得意です。</p>
                    <p>◼︎思い入れ</p>
                    <p>飼っている犬が4歳になったので、記念に描きました。いつもみんなで川の字で寝ています。</p>
                    <p>◼︎使用技術：</p>
                    <p>デッサン力/色彩力/被写体の跳躍力</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-title-area">
              <div class="section-sub-title-area">
                <h3 class="section-sub-title">SIDE JOB WORKS</h3>
                <div class="section-intro">
                  <div class="section-text">副業で制作した作品です。</div>
                </div>
              </div>
            </div>
            <div class="section-body card-wrapper my-gallery">
              <div class="card">
                <a
                  href="<%= image_path 'works/no_image.png' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/no_image.png' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：Webサイト</p>
                    <p>◼︎作品名：教育向けクイズサイト</p>
                    <p>◼︎説明：</p>
                    <p>デザインをいただき、サーバ構築からアプリのデプロイまでを担当しました。</p>
                    <p>◼︎思い入れ</p>
                    <p>初めてお受けした副業案件です。フロントエンド技術について多くのことを学べたとてもよい機会でした。</p>
                    <p>◼︎使用技術：</p>
                    <p>Python(Django)/HTML/JavaScript/CSS/gunicorn/nginx</p>
                  </div>
                  <div class="card-caption-info">
                    
                  </div>
                </div>
              </div>
              <div class="card">
                <a
                  href="<%= image_path 'works/no_image.png' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/no_image.png' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：Webサイト</p>
                    <p>◼︎作品名：エンジニア応援サイト</p>
                    <p>◼︎説明：</p>
                    <p>デザインをいただき、サーバ構築からアプリのデプロイまでを担当しました。</p>
                    <p>◼︎思い入れ</p>
                    <p>副業案件第2作目になります。画像の重ね合わせによってデザインが崩れないように工夫しました。知り合いの駆け出しエンジニアの方を巻き込んで、一緒にサーバ構築からコーディングまでレクチャーしながら進めました。</p>
                    <p>◼︎使用技術：</p>
                    <p>Python(Django)/HTML/JavaScript/CSS/gunicorn/nginx</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <a
                  href="<%= image_path 'works/no_image.png' %>"
                  data-size="960x720"
                  class="card-image hover-action-01"
                >
                  <img
                    class="lazyload fadein"
                    src="<%= image_path 'placeholder4x3.png' %>"
                    data-src="<%= image_path 'works/no_image.png' %>"
                    alt=""
                  />
                </a>
                <div class="card-caption">
                  <div class="card-caption-title">
                    <p>◼︎ジャンル：Webサイト</p>
                    <p>◼︎作品名：画像シェアサイト</p>
                    <p>◼︎説明：</p>
                    <p>デザインをいただき、サーバ構築からアプリのデプロイまでを担当しました。</p>
                    <p>◼︎思い入れ</p>
                    <p>副業案件第3作目になります。過去2作よりもかなりスピード感を持って対応でき、成長を実感しました。</p>
                    <p>◼︎使用技術：</p>
                    <p>Python(Django)/HTML/JavaScript/CSS/gunicorn/nginx</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </section>

        <section class="section" id="skills">
          <div class="inner">
            <div class="section-title-area">
              <h2 class="section-title">SKILLS</h2>
              <div class="section-sub-title-area">
                <h3 class="section-sub-title">TECHNICAL SKILLS</h3>
              </div>
              <div class="section-intro">言語や基盤技術</div>
            </div>
            <div class="section-body card-wrapper">
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/python.png' %>" alt="" />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img
                    src="<%= image_path 'skills/javaicon.png' %>"
                    alt=""
                  />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/cplus.png' %>" alt="" />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/CSharp.png' %>" alt="" />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/aws.webp' %>" alt="" />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/gcp.png' %>" alt="" />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/linux.png' %>" alt="" />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img
                    src="<%= image_path 'skills/terraform_ansible.png' %>"
                    alt=""
                  />
                </div>
              </div>
              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/oracle.png' %>" alt="" />
                </div>
              </div>

              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/html.png' %>" alt="" />
                </div>
              </div>


              <div class="tec_card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/js.png' %>" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="inner">
            <div class="section-title-area">
              <div class="section-sub-title-area">
                <h3 class="section-sub-title">
                  DEVELOPMENT AND OPERATIONS SKILLS
                </h3>
              </div>
              <div class="section-intro">開発・運用スキル</div>
            </div>
            <div class="section-body card-wrapper">
              <div class="card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/backend.jpg' %>" alt="" />
                </div>
                <div class="skills-desc">
                  <h3 class="skills-desc-title">システム開発</h3>
                  ドメイン駆動・マイクロサービス設計、API設計、データベース設計 etc.
                  <!-- ■経験
                  <div class="rating">
                    <div class="rate rate5"></div>
                  </div>
                  ■興味
                  <div class="rating">
                    <div class="rate rate5"></div>
                  </div> -->
                </div>
              </div>
              <div class="card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/cloud.png' %>" alt="" />
                </div>
                <div class="skills-desc">
                  <h3 class="skills-desc-title">クラウド構築・運用</h3>
                  サーバレスアーキテクチャ設計、監視設計、マルチリージョン設計 etc.
                  <!-- ■経験
                  <div class="rating">
                    <div class="rate rate4"></div>
                  </div>
                  ■興味
                  <div class="rating">
                    <div class="rate rate4"></div>
                  </div> -->
                </div>
              </div>
              <div class="card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/server.png' %>" alt="" />
                </div>
                <div class="skills-desc">
                  <h3 class="skills-desc-title">サーバ構築・運用</h3>
                  キャパシティプランニング、監視設計、ログ管理・分析 etc.
                  <!-- ■経験
                  <div class="rating">
                    <div class="rate rate3"></div>
                  </div>
                  ■興味
                  <div class="rating">
                    <div class="rate rate3"></div>
                  </div> -->
                </div>
              </div>
              <div class="card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/sre.jpg' %>" alt="" />
                </div>
                <div class="skills-desc">
                  <h3 class="skills-desc-title">SRE/DevOps</h3>
                  SLO策定、SLI計測、エラーバジェット管理、トイル自動化・効率化 etc.
                  <!-- ■経験
                  <div class="rating">
                    <div class="rate rate2"></div>
                  </div>
                  ■興味
                  <div class="rating">
                    <div class="rate rate4"></div>
                  </div> -->
                </div>
              </div>
              <div class="card">
                <div class="skills-icon">
                  <img
                    src="<%= image_path 'skills/task_management.png' %>"
                    alt=""
                  />
                </div>
                <div class="skills-desc">
                  <h3 class="skills-desc-title">タスクマネジメント</h3>
                  チームKPI策定、スケジュール管理、問題・リスク管理 etc.
                  <!-- ■経験
                  <div class="rating">
                    <div class="rate rate3"></div>
                  </div>
                  ■興味
                  <div class="rating">
                    <div class="rate rate2"></div>
                  </div> -->
                </div>
              </div>
              <div class="card">
                <div class="skills-icon">
                  <img src="<%= image_path 'skills/service.jpg' %>" alt="" />
                </div>
                <div class="skills-desc">
                  <h3 class="skills-desc-title">サービス企画</h3>
                  市場調査、企画立案、プロトタイプ作成・検証 etc.
                  <!-- ■経験
                  <div class="rating">
                    <div class="rate rate2"></div>
                  </div>
                  ■興味
                  <div class="rating">
                    <div class="rate rate3"></div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section" id="certifications">
          <div class="inner">
            <div class="section-title-area">
              <h2 class="section-title">CERTIFICATIONS</h2>
              <div class="section-intro"></div>
            </div>
            <div class="section-body card-wrapper">
              <div class="card">
                <ul>
                  <li class="certifications_li"><p>・基本情報処理技術者</p></li>
                  <li class="certifications_li">
                    <a
                      href="https://cp.certmetrics.com/amazon/en/public/verify/credential/bd101807af6849c7b509456b11498c1e"
                      >・【DOP】AWS DevOps Engineer
                      - Professional</a
                    >
                  </li>
                  <li class="certifications_li">
                    <a
                      href="https://cp.certmetrics.com/amazon/en/public/verify/credential/S0HQ25028BEQ1RSE"
                      >・【SOA】AWS SysOps
                      Administrator - Associate</a
                    >
                  </li>
                  <li class="certifications_li">
                    <a
                      href="https://cp.certmetrics.com/amazon/en/public/verify/credential/E1ZCJHP282RQQN9T"
                      >・【DVA】AWS Developer -
                      Associate</a
                    >
                  </li>
                  <li class="certifications_li">
                    <a
                      href="https://cp.certmetrics.com/amazon/en/public/verify/credential/47FHFL1B51V41LCW"
                      >・【SAA】AWS Solutions
                      Architect - Associate</a
                    >
                  </li>
                  <li class="certifications_li">
                    <a
                      href="https://www.credly.com/badges/6f90467a-52b1-4f0b-8e5c-37d653920806/public_url"
                      >・【PCD】GCP 
                      Professional Cloud Developer（2024/05/31失効）</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="section" id="contact">
          <div class="inner">
            <div class="section-title-area">
              <h2 class="section-title">CONTACT</h2>
              <div class="section-intro"></div>
            </div>
            <div class="section-body contact-wrapper">
              <div class="contact-list">
                <div class="contact-other">higuchi.develop@gmail.com</div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer id="footer">
        <div class="pageTop">
          <div id="js-pageTop">Page Top</div>
        </div>
        <div class="inner"></div>
      </footer>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!-- Background of PhotoSwipe.
           It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
              PhotoSwipe keeps only 3 of them in the DOM to save memory.
              Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button
              class="pswp__button pswp__button--close"
              title="Close (Esc)"
            ></button>

            <button
              class="pswp__button pswp__button--fs"
              title="Toggle fullscreen"
            ></button>

            <button
              class="pswp__button pswp__button--zoom"
              title="Zoom in/out"
            ></button>

            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
          >
            <div class="pswp__share-tooltip"></div>
          </div>

          <button
            class="pswp__button pswp__button--arrow--left"
            title="Previous (arrow left)"
          ></button>

          <button
            class="pswp__button pswp__button--arrow--right"
            title="Next (arrow right)"
          ></button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe-lightbox.umd.min.js"></script>
    
    <%
=begin%>
 <script
      type="text/javascript"
      src="<%= javascript_include_tag 'photoswipe/photoswipe.min.js' %>"
    ></script> 
<%
=end%>
    <%
=begin%>
 <script
      type="text/javascript"
      src="<%= javascript_include_tag 'javascript/photoswipe/photoswipe-ui-default.js' %>"
    ></script>
    <script
      type="text/javascript"
      src="<%= javascript_include_tag 'javascript/photoswipe/photoswipe_setup.js' %>"
    ></script>
    <script
      type="text/javascript"
      src="<%= javascript_include_tag 'javascript/lazysizes/lazysizes.min.js' %>"
    ></script>
    <script
      type="text/javascript"
      src="<%= javascript_include_tag 'javascript/script.js' %>"
    ></script> 
<%
=end%>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
  </body>
</html>
